<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OOPSConceptPOM" verbose="1" >

  <test name="SIT with ff" parallel="methods" thread-count="6">
  <parameter name="browser" value="ff"></parameter>
    <classes>
    	<class name="com.MyTest.LoginTest"/>
    </classes>
 </test>
 
 <test name="SIT with chrome" parallel="methods" thread-count="5">
 <parameter name="browser" value="IE"></parameter>
 	<classes>
    	<class name="com.MyTest.LoginTest"/>
    </classes>
 </test>
</suite>
